@import "../../node_modules/@fovea/material/dist/index";

:root {
	--font-family: #{$font-family};
	--font-family-mono: #{$font-family-mono};
	--font-weight-thin: #{$font-weight-thin};
	--font-weight-light: #{$font-weight-light};
	--font-weight-regular: #{$font-weight-regular};
	--font-weight-medium: #{$font-weight-medium};
	--font-weight-bold: #{$font-weight-bold};
	--font-weight-black: #{$font-weight-black};
}