$duration-selection-control: 100;
$duration-complex: 200;
$duration-detailed-animation: 500;
$duration-nav-open: 250;
$duration-nav-close: 200;
$duration-card-expand: 300;
$duration-card-collapse: 250;
$duration-bottom-sheet-expand: 250;
$duration-bottom-sheet-collapse: 200;
$duration-persistent-sheet-expand: 300;
$duration-persistent-sheet-collapse: 250;
$duration-chip-expand: 250;
$duration-chip-collapse: 200;