$duration-selection-control: var(--duration-selection-control, 100ms);
$duration-dialog-open: var(--duration-dialog-open, 150ms);
$duration-dialog-close: var(--duration-dialog-close, 75ms);
$duration-complex: var(--duration-complex, 200ms);
$duration-detailed-animation: var(--duration-detailed-animation, 500ms);
$duration-nav-open: var(--duration-nav-open, 250ms);
$duration-nav-close: var(--duration-nav-close, 200ms);
$duration-card-expand: var(--duration-card-expand, 300ms);
$duration-card-collapse: var(--duration-card-collapse, 250ms);
$duration-bottom-sheet-expand: var(--duration-bottom-sheet-expand, 250ms);
$duration-bottom-sheet-collapse: var(--duration-bottom-sheet-collapse, 200ms);
$duration-persistent-sheet-expand: var(--duration-persistent-sheet-expand, 300ms);
$duration-persistent-sheet-collapse: var(--duration-persistent-sheet-collapse, 250ms);
$duration-chip-expand: var(--duration-chip-expand, 250ms);
$duration-chip-collapse: var(--duration-chip-collapse, 200ms);