$duration-selection-control: 100ms;
$duration-dialog-open: 150ms;
$duration-dialog-close: 75ms;
$duration-complex: 200ms;
$duration-detailed-animation: 500ms;
$duration-nav-open: 250ms;
$duration-nav-close: 200ms;
$duration-card-expand: 300ms;
$duration-card-collapse: 250ms;
$duration-bottom-sheet-expand: 250ms;
$duration-bottom-sheet-collapse: 200ms;
$duration-persistent-sheet-expand: 300ms;
$duration-persistent-sheet-collapse: 250ms;
$duration-chip-expand: 250ms;
$duration-chip-collapse: 200ms;