@import "./size";

$rounding-size-default-value: $grid-size-default-value;
$rounding-size: var(--rounding-size, #{$rounding-size-default-value});

@function rounding ($multiplier: 1) {
	@return #{'calc(#{$rounding-size} * #{$multiplier})'};
}

$default-rounding: rounding();
