$grid-size-default-value: 4px;
$icon-size-default-value: 24px;
$grid-size: var(--grid-size, #{$grid-size-default-value});
$icon-size: var(--icon-size, #{$icon-size-default-value});

@function size ($multiplier: 1) {
	@return #{'calc(#{$grid-size} * #{$multiplier})'};
}

$default-padding: size(4);
$default-margin: size(5);
