$grid-size: 4px;
$icon-size: var(--icon-size, 24px);

@function size ($multiplier: 1) {
	@return #{'var(--size-#{$multiplier}, #{$grid-size * $multiplier})'};
}

$default-padding: size(4);
$default-margin: size(5);
