$timing-function-deceleration-curve : cubic-bezier(0.0, 0.0, 0.2, 1);
$timing-function-standard-curve: cubic-bezier(0.4, 0.0, 0.2, 1);
$timing-function-acceleration-curve: cubic-bezier(0.4, 0.0, 1, 1);
$timing-function-sharp-curve: cubic-bezier(.4, 0, .6, 1);