@import "../../style/base";

:host {
	@include page();
	@include scrollableY();

	& > .highlight {
		box-shadow: elevation(6);
	}

	& > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
		margin: size(4) 0;
	}
}

li {
	margin: size(2) 0;
}

p + p {
	margin-top: size(4);
}

h5 {
	@include divider(bottom);
}

.highlight {
	margin: $default-margin 0;
}

form {
	width: 100%;
	button {
		display: flex !important;
	}
}

.primary {
	color: $color-primary;
}

.accent {
	color: $color-accent;
}

.yellow {
	color: color(yellow);
}

.black-60 {
	color: color(black, 60);
}