@import "../../style/base";

:host, article, footer {
	display: flex;
}

:host {
	flex-direction: column;
	background: color(black, 05);
	margin: $default-margin 0;
	border-radius: $default-rounding;
}

article, footer {
	flex-direction: row;
	justify-content: center;
}

article {
	align-content: space-between;
	flex-wrap: wrap;
}

::slotted(*:not(dialog-component)) {
	margin: $default-margin !important;
}

footer {
	background: color(black, 05);
	padding: size(2);
}