@import "../../style/base";

.button {
	@include reset();
	@include button();
	--transition-duration: #{$duration-complex};
	--transition-timing-function: var(--timing-function-standard-curve, #{$timing-function-standard-curve});
	color: var(--color-primary, #{$color-primary});
	background-image: none;
	appearance: none;
	border: none;
	contain: content;
	overflow: hidden;
	min-width: 64px;
	position: relative;
	height: 36px;
	line-height: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	border-radius: var(--default-rounding, #{$default-rounding});
	user-select: none;
	cursor: pointer;
	padding: 0 var(--size-2, #{size(2)});
	white-space: nowrap;
	-webkit-user-drag: none;

	/* This rule targets Safari specifically and fixes an issue with overflow hidden + border-radius in combination */
	//noinspection CssUnknownProperty
	@supports (-webkit-text-zoom: initial) {
		//noinspection CssInvalidPropertyValue
		-webkit-mask-image: -webkit-radial-gradient(white, black);
	}

	& > * + * {
		margin-left: var(--size-2, #{size(2)});
	}

	&::-moz-focus-inner {
		border: 0;
	}

	&:not([contained]) {
		background: none;

		& > * {
			color: currentColor;
		}

		@media (pointer: fine) {
			&:hover,
			&:focus-visible {
				background: var(--color-overlay, #{$color-overlay});
			}
		}
	}

	&[contained],
	&[outlined] {
		padding: 0 var(--size-4, #{size(4)});
	}

	&[contained] {
		transition: box-shadow var(--transition-duration) var(--transition-timing-function);
		box-shadow: var(--elevation-2, #{elevation(2)});
		background: currentColor;

		& > * {
			color: var(--color-white, #{color(white)});
		}

		&::after {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: "";
			background: rgba(255,255,255,.2);
		}

		@media (pointer: fine) {
			&:hover,
			&:focus-visible {
				box-shadow: var(--elevation-4, #{elevation(4)});

				&::after {
					display: block;
				}
			}
		}
	}

	&[outlined] {
		padding: 0 var(--size-4, #{size(4)});
		border: 2px solid currentColor;
	}

	&[disabled] {
		pointer-events: none;
		color: var(--color-disabled, #{$color-disabled}) !important;

		&[contained] * {
			color: var(--color-white-80, #{color(white, 80)}) !important;
		}
	}

	&:focus,
	&:active {
		outline: none;
	}
}