@import "../../style/base";

:host {
	@include reset();
	contain: content;
	overflow: hidden;
	color: currentColor;
	padding: $default-padding;
	border-radius: 50%;
	cursor: pointer;

	& * {
		color: inherit;
	}

	/* This rule targets Safari specifically and fixes an issue with overflow hidden + border-radius in combination */
	//noinspection CssUnknownProperty
	@supports (-webkit-text-zoom: initial) {
		//noinspection CssInvalidPropertyValue
		-webkit-mask-image: -webkit-radial-gradient(white, black);
	}
}

@media (pointer: fine) {
	:host(:hover) {
		background: $color-overlay;
	}
}

:host([disabled]) {
	pointer-events: none;
	color: $color-disabled !important;
}

:host(:focus),
:host(:active) {
	outline: none;
}