@import "../../style/base";

:host {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;

	#version {
		color: color(white, 50);
		text-align: center;
		display: block;
		padding-bottom: size(2);
	}

	#navbar {
		@include scrollableY();
		z-index: 1000;
		width: 190px;
		height: 100%;
		box-shadow: 2px 0 10px color(black, 30);
		background: $color-accent;

		#navbar_content {
			display: flex;
			flex-direction: column;
			padding: size(2) 0;
			text-align: center;

			& > * {
				color: color(white);
				align-self: center;
				margin-bottom: size(2);
			}
		}
	}

	router-outlet {
		display: block;
		position: relative;
		width:100%;
	}
}
