@import "./color";

$aVariable: red;

@mixin border-radius($radius) {
	user-select: none;
	border-radius: $radius;
}

:host {
	@include border-radius(10px);
	/* Did stuff */
	color: $aVariable;
	--red: red;

	& span {
		color: red;
		display: ${this.helloWorld > 0 ? true : false} red;
		background: #{${"green"}};
	}
}

@media all {
	:host > * {
		color: green;
	}
}

span ${hmm} > lol {
	font-size: 2 + 2;
}

@mixin ${baz} {}

${this.foobar}